{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="home-hero">
    <div class="home-hero__content">
        <h1 class="heading-primary">Hey, My name is {{ setting.full_name }}</h1>
        <div class="home-hero__info">
            <p class="text-primary">
                {{ setting.hero_description }}
            </p>
        </div>
        <div class="home-hero__cta">
            <a href="#projects" class="btn btn--bg">Projects</a>
        </div>
    </div>
    <div class="home-hero__socials">
        {% if setting.linkedin_url != "" %}
        <div class="home-hero__social">
            <a href="{{ setting.linkedin_url }}" class="home-hero__social-icon-link">
                <img src="{% static 'assets/png/linkedin-ico.png' %}" alt="icon" class="home-hero__social-icon" />
            </a>
        </div>
        {% endif %}
        {% if setting.github_url != "" %}
        <div class="home-hero__social">
            <a href="{{ setting.github_url }}" class="home-hero__social-icon-link">
                <img src="{% static 'assets/png/github-ico.png' %}" alt="icon" class="home-hero__social-icon" />
            </a>
        </div>
        {% endif %}
        {% if setting.twitter_url != "" %}
        <div class="home-hero__social">
            <a href="{{ setting.twitter_url }}" class="home-hero__social-icon-link">
                <img src="{% static 'assets/png/twitter-ico.png' %}" alt="icon" class="home-hero__social-icon" />
            </a>
        </div>
        {% endif %}
        {% if setting.youtube_url != "" %}
        <div class="home-hero__social">
            <a href="{{ setting.youtube_url }}" class="home-hero__social-icon-link">
                <img src="{% static 'assets/png/yt-ico.png' %}" alt="icon" class="home-hero__social-icon" />
            </a>
        </div>
        {% endif %}
        {% if setting.instagram_url != "" %}
        <div class="home-hero__social">
            <a href="{{ setting.instagram_url }}"
                class="home-hero__social-icon-link home-hero__social-icon-link--bd-none">
                <img src="{% static 'assets/png/insta-ico.png' %}" alt="icon" class="home-hero__social-icon" />
            </a>
        </div>
        {% endif %}
    </div>
    <div class="home-hero__mouse-scroll-cont">
        <div class="mouse"></div>
    </div>
</section>
<section id="about" class="about sec-pad">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
            <span class="heading-sec__main">About Me</span>
            <span class="heading-sec__sub">
                {{ setting.about }}
            </span>
        </h2>
        <div class="about__content">
            <div class="about__content-main">
                <h3 class="about__content-title">Get to know me!</h3>
                <div class="about__content-details">
                    <p class="about__content-details-para">
                        {{ setting.kwown_me }}
                    </p>

                </div>
                <a href="#contact" class="btn btn--med btn--theme dynamicBgClr">Contact</a>
            </div>
            {% if skills|length > 0 %}
            <div class="about__content-skills">
                <h3 class="about__content-title">My Skills</h3>
                <div class="skills">
                    {% for skill in skills %}
                    <div class="skills__skill">{{ skill.tag }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section id="projects" class="projects sec-pad">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
            <span class="heading-sec__main">Projects</span>
            <span class="heading-sec__sub">
                {{ setting.project_description }}
            </span>
        </h2>

        <div class="projects__content">
            {% for project in projects %}
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="{{ project.image.url }}" alt="Software Screenshot" class="projects__row-img"
                        loading="lazy" />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">{{ project.name }}</h3>
                    <p class="projects__row-content-desc">
                        {{ project.description }}
                    </p>
                    <a href="{% if project.owner.is_superuser %}{% url 'project' id=project.id %}{% else %}{% url 'project' id=project.id name=project.setting.full_name %}{% endif %}"
                        class="btn btn--med btn--theme dynamicBgClr" target="_blank">Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="contact" class="contact sec-pad dynamicBg">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
            <span class="heading-sec__main heading-sec__main--lt">Contact</span>
            <span class="heading-sec__sub heading-sec__sub--lt">
                {{ setting.contact_description }}
            </span>
        </h2>
        <div class="contact__form-container">
            <form method="POST" class="contact__form">
                {% csrf_token %}
                <div class="contact__form-field">
                    <label class="contact__form-label" for="name">Name</label>
                    <input required placeholder="Enter Your Name" type="text" class="contact__form-input" name="name"
                        id="name" />
                </div>
                <div class="contact__form-field">
                    <label class="contact__form-label" for="email">Email</label>
                    <input required placeholder="Enter Your Email" type="text" class="contact__form-input" name="email"
                        id="email" />
                </div>
                <div class="contact__form-field">
                    <label class="contact__form-label" for="message">Message</label>
                    <textarea required cols="30" rows="10" class="contact__form-input" placeholder="Enter Your Message"
                        name="message" id="message"></textarea>
                </div>
                <button type="submit" class="btn btn--theme contact__btn">
                    Submit
                </button>
            </form>
        </div>
    </div>
</section>

{% endblock %}